@import 'font-awesome';


// Brand colors
$brand_green: rgb(29, 115, 115);

// General
@media (min-width: 979px) {
  body {
    padding-top: 60px;
  }
}

// Pulling back in bootstrap font sizes to override template
h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

.title-bg {
  background-color: $brand_green !important;
}

a {
  text-decoration: none !important;

}
a:hover {
  color: rgba(241, 80, 90, 0.7);
}

// Navbar
.brand {
  h6 {
    font-size: 23px;
    margin: 0 auto;
  }
  img {
    width: 35px;
    margin-right: 5px;
  }
}

// Sidebar
.sidebar {
  .title {
    margin: 0px auto;
  }
  h4 {
    margin: 0 auto;
    &:last {
      margin-bottom: 10px;
    }
  }
  .recent-posts-title {
    margin-top: 10px;
  }
}

// Admin
.article-form {
  textarea {
    height: 400px;
  }
}

.flash-notice {
  color: red;
}
