= display_meta_tags description: site_description,
                    title: "Blog",
                    site: "JD Pagano",
                    keywords: "Ruby, Ruby on Rails, AngularJS, Design Patterns"
